*.tfstate
*.tfstate.*

*.backup

.terraform.rc
.terraform.lock.hcl
terraform/.terraform/providers/

.terraform/

*.tfplan

*.tfvars
*.tfvars.json

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform-workspace

.github/workflows/deploy-aws.yamlold
*.pem
vockey.pem